.pop-Tabcontain {
  width: 100%;
  margin: 0 auto;
}

.videoTab {
  display: flex;
  gap: 10px;
  width: max-content;
  /* overflow-x: auto; */
}

@media only screen and (max-width: 415px) {
  .tab-h {
    padding: 5px !important;
  }

  .SmultiLevelDD {
    padding: 5px !important;
  }
}

.videoTab1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.videoTab button {
  background-color: #ffff;
  border: 1px solid #4fa4f4;
  color: #4fa4f4;
  cursor: pointer;
  padding: 7px 20px;
  background-color: #ffff;
  transition: all 0.5s ease-out;
  border-radius: 5px;
}

.tab-h {
  height: 42px;
}

.tab-h .selected {
  background-color: #4fa4f4 !important;
  color: white;
}

.videoTab button:hover {
  color: white;
  background-color: #4fa4f4 !important;
}

.videoTab button:disabled {
  background-color: #4fa4f4 !important;
  color: white;
}
.videoTab1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.videoTab1 button {
  background-color: #ffff;
  border: 1px solid #4fa4f4;
  color: #4fa4f4;
  cursor: pointer;
  padding: 7px 20px;
  background-color: #ffff;
  transition: all 0.5s ease-out;
  border-radius: 5px;
}

.videoTab1 button:hover {
  color: white;
  background-color: #4fa4f4 !important;
}

.videoTab1 .selected {
  color: white;
  background-color: #4fa4f4 !important;
}

.videoTab1 button:disabled {
  background: #4fa4f4 !important;
  color: white;
}

/* .width {
  --bs-dropdown-min-width: 100% !important;
} */

.link:hover {
  text-decoration: underline;
}

.customtoggle::after {
  border: none !important;
  height: auto;
  margin-left: 5px;
}

.SmultiLevelDD::after {
  border: none !important;
  height: auto;
  padding-left: 5px;
  margin-top: -2px;
}

.Sitems {
  font-weight: 500 !important;
  font-family: "Medium";
  font-size: 16px;
}

.subIteCms {
  font-weight: 500 !important;
  font-size: 15px;
}

.Sitems:hover,
.subItems:hover {
  background-color: #ecf5ff !important;
}

.hover-class:hover {
  cursor: pointer;
}

.t-t {
  color: #4fa4f4 !important;
}

.sortByBack {
  border: 1px solid #4fa4f4 !important;
  color: #4fa4f4 !important;
  border-radius: 5px;
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  flex-direction: row;
  width: 156px !important;
}

@media only screen and (max-width: 515px) {
  .sortByBack {
    width: 101px !important;
  }
}

.form-control {
  border: 1px solid #4fa4f4 !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffff !important;
}

.form-control:focus {
  color: #ffff;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

.tabField {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 42px;
}

@media only screen and (max-width: 400px) {
  .c-pop {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .sort {
    display: flex;
    flex-wrap: wrap !important;
    z-index: 1;
  }
}

@media only screen and (max-width: 440px) {
  .menu {
    width: 290px !important;
  }
}

.s-b {
  width: 20%;
}

.popup-container {
  position: relative;
  display: flex;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.ebookcustom-toggl::after {
  position: absolute !important;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABzSURBVHgBdY+xEYAgDEUTJnAEx7DEDRhJJ9BR2EBKOldwBEuhAP3e5Y5DfNXPz08uYa1NRw/O2ZMaSF+Fi9YYeB8G09cheOjFqBaViaZ3gnkrw9DwoFNKM3/MnEcZlNp7e3BrgyAhaK5vqjfRH/hSPi25ASmQNzW3LcRFAAAAAElFTkSuQmCC) !important;
  border: none !important;
  top: 0 !important;
  justify-content: end !important;

  margin-left: 10.5rem !important;
  margin-top: 0.5em !important;
}

@media only screen and (max-width: 440px) {
  .ebookcustom-toggl::after {
    margin-left: 6.5rem !important;
  }
}

.display-grid-temp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.display-grid-temp2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media only screen and (max-width: 500px) {
  .des-test {
    display: flex;
    flex-wrap: wrap;
  }
}

.videoThumnail {
  border-radius: 23.6842px;
  background: #d9d9d9;
  /* width: 120px;
    height: 120px; */
}

.precompleted {
  padding: 20px 30px 8px;
  border-color: #fabf48 !important;
  /* max-width: 48% !important;
  min-width: 310px !important; */
}

/* 
@media only screen and (min-width: 760px) and (max-width: 962px) {
  .precompleted {
    max-width: 95% !important;
  }
}

@media only screen and (max-width: 692px) {
  .precompleted {
    max-width: 95% !important;
  }
} */

hr {
  margin: 0rem;
}

.playIcon {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4.23017px);
  /* Note: backdrop-filter has minimal browser support */
  width: 26.51px;
  height: 26.51px;
  border-radius: 90.2436px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 120px;
  height: 120px;
}

/* .show {
    display: flex;
} */

.hide {
  display: none;
}

.NoVideoMain {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 87%;
  margin-top: 10px;
}

.NoVideoIcon {
  width: 160px;
  height: 160px;
  left: calc(50% - 160px / 2);
  top: 0px;
  background: #f4f7fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  /* align-items: end; */
  align-items: flex-end;
}

.imagePremiumVideo {
  width: 100%;
  max-height: 500px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePremium {
  filter: blur(2px);
  /* width: 100%; */
}

.imageFreeVideo {
  width: 100%;
  max-height: 500px;
  left: 0px;
  top: 0px;
  background: #d9d9d9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageFree {
  /* width: 100%; */
  border-radius: 20px;
}

.playIconFreeVideo {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7.98079px);
  border-radius: 170.257px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
  gap: 10px;
  width: 194px !important;
  height: 77px;
  background: #f0f5fb;
  border-radius: 10px;
}

.decriptionText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}

.popUp {
  position: absolute;
  z-index: 1000;
  width: 248px;
  height: 134px;
  right: 90px;
  top: 140x;
  background: #ffffff;
  padding: 20px;
  /* Popup Shadow */
  box-shadow: 0px 15px 40px rgba(81, 93, 105, 0.1);
  border-radius: 10px;
}

.popUp > p {
  color: #787f86;
  cursor: pointer;
}

.videoPlayerHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 13px;
}

.videoPlayerIcon {
  position: absolute;
}
