
.popover__title {
    font-size: 24px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
  }
  
  .popover__wrapper {
    position: relative;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: -20px;
    left: -240px;
    top: 60px;
    transform: translate(0, 10px);
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
   ;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(30% - 65px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }
  